.ls-wrap{
  margin: auto;
  width: 1280px;
  overflow: hidden;
  .lw-img{
    width: 10%;
    float: left;
    img{
      width: 30%;
      margin-top: 7px;
    }
  }
  .lw-con{
    width: 80%;
    float: right;
    ul{
      text-align: right;
      li{
        height: 100%;
        display: inline-block;
        a{
          height: 100%;
          color: #427A55;
          display: block;
          font-size: 18px;
          padding: 18px 35px;
          &:hover{
            color: #203B29;
          }
        }
      }
    }
    .lc-title{
      cursor: default;
      font-size: 16px;
      padding: 18px 0;
      text-align: right;
    }
  }
}
