// header
.header {
    height: 70px;
    -webkit-box-shadow: 0px 1px 55px 6px rgba(160,160,160,1);
    -moz-box-shadow: 0px 1px 55px 6px rgba(160,160,160,1);
    box-shadow: 0px 1px 55px 6px rgba(160,160,160,1);
}

.lw-img {
    width: 240px;
    float: left;
    img {
        width: 100%;
        margin-top: 15px;
        box-shadow: none;
    }
}

.lw-con {
    width: 60%;
    float: right;
    margin-top: 10px;
    .ham {
        display: none;
    }
    .lang {
        width: 100%;
        text-align: right;
        margin-bottom: 5px;
        a {
            font-size: $font-normal;
        }
    }
    ul {
        text-align: right;
        li {
            height: 100%;
            position: relative;
            display: inline-block;
            a {
                display: block;
                padding: 0 15px;
            }
            &:last-child {
                min-width: 150px;
                a {
                    padding: 0 0 0 15px;
                }
            }
            .sub-menu {
                float: left;
                width: 150px;
                display: none;
                z-index: 9999;
                padding: 10px 0;
                text-align: left;
                margin-top: 15px;
                position: relative;
                background: #f5f5f5;
                border-top: 3px solid #427A55;
                &.show {
                    display: block;
                }
                a{
                    text-align: right;
                    padding: 10px 10px 10px 0;
                }
            }
        }
    }
    a {
        color: #231f20;
        font-size: $font-heading;
        &:hover {
            color: #427A55;
        }
    }
}


// footer
.footer {
    padding: 20px 0 10px;
    -webkit-box-shadow: 0px 1px 55px 6px rgba(160,160,160,1);
    -moz-box-shadow: 0px 1px 55px 6px rgba(160,160,160,1);
    box-shadow: 0px 1px 55px 6px rgba(160,160,160,1);
}

.foot-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

.foot-main-wrap-box{
    float: left;
    width: 33.33%;
    &.fmwb-mid{
        margin: 0 40px;
        width: calc(33.33% - 80px);
    }
    .space{
        width: 100%;
        height: 25px;
    }
}

.foot-wrapper {
    .fw-wrapper {
        font-size: $font-menu;
        margin: 0 0 5px 20px;
        width: calc(100% - 20px);
        .box-img,.box-wrap{
            float: left;
        }
        .box-img {
            width: 20px;
            text-align: center;
            i {
                font-size: 20px;
                vertical-align: middle;
            }
        }
        .box-wrap{
            font-size: 12px;
            padding-left: 10px;
            width: calc(100% - 40px);
        }
        .bw-title {
            float: left;
            width: 50px;
            font-weight: bold;
        }
        .bw-info{
            float: left;
            width: calc(100% - 50px);
        }
        .fw-social {
            width: 100%;
            a {
                color: $color-normal;
                &:hover {
                    color: #203B29;
                }
            }
            i {
                margin: 0 20px;
                font-size: 40px;
                &:first-child {
                    margin: 0 20px 0 0;
                }
            }
        }
        .fw-img {
            margin: 20px 0;
            img {
                position: relative;
                margin: 0 5px;
                &:nth-child(1){
                    top: -5px;
                    width: 18%;
                }
                &:nth-child(2){
                    width: 16%;
                }
                &:nth-child(3){
                    top: -4px;
                    width: 25%;
                }
                &:nth-child(4){
                    top: -7px;
                    width: 18%;
                }
            }
        }
    }
}

@media (max-width: 1050px) {
    .lw-con {
        a {
            font-size: $font-menu;
        }
    }
    .footer {
        .fw-img {
            img {
                width: 80%;
            }
        }
        .column-4 {
            width: 48.02%;
        }
    }
}

@media (max-width: 736px) {
    .footer {
        .column-4 {
            width: 100%;
        }
        .fw-social,
        .fw-text,
        .fw-img {
            text-align: center;
            img {
                width: 70%;
                margin-left: -25px;
            }
        }
    }
    .lw-con {
        .ham {
            top: 20px;
            right: 20px;
            display: block;
            font-size: 30px;
            position: absolute;
            &:hover {
                color: #427A55;
            }
        }
        ul {
            li {
                .sub-menu {
                    width: 100%;
                    background: #f9f9f9;
                    a{
                        text-align: center;
                        padding: 5px 0;
                    }
                }

            }  
        }
    }
    .lang,.menu-list {
        left: 0;
        z-index: 9;
        opacity: 0;
        width: 100%;
        visibility: hidden;
        position: absolute;
        background: #f1f1f1;
        transition: all .75s;
        &.open {
            opacity: 1;
            visibility: visible;
        }
        a{
            font-size: $font-heading !important;
        }
    }
    .lang{
        top: 70px;
        padding: 20px 20px 10px 20px;
    }
    .menu-list {
        top: 130px;
        border-bottom: 4px solid #000000;
        li {
            margin: 15px 0;
            text-align: center;
            display: block !important;
        }
    }  
}

// @media (max-width:1024px) {
//   .lw-con{
//     ul{
//       li{
//         a{
//           padding: 18px 25px;
//         }
//       }
//     }
//   }
// }
// @media (max-width:768px) {
//   .lw-img{
//     width: 5%;
//     img{
//       width: 100%;
//       margin-top: 14px;
//     }
//   }
//   .lw-con{
//     width: 95%;
//     ul{
//       li{
//         a{
//           padding: 18px 20px;
//         }
//       }
//     }
//   }
// }
// @media (max-width:736px) {
//   .lw-img{
//     width: 6%;
//   }
//   .lw-con{
//     width: 85%;
//     .ham{
//       top: 15px;
//       right: 20px;
//       display: block;
//       font-size: 30px;
//       position: absolute;
//       &:hover{
//         color: orange;
//       }
//     }
//   }
//   .menu-list{
//     left: 0;
//     z-index: 9;
//     top:  70px;
//     opacity: 0;
//     width: 100%;
//     visibility: hidden;
//     position: absolute;
//     background: #ffffff;
//     border-bottom: 4px solid #000000;
//     transition: all .75s;
//     &.open{
//       opacity: 1;
//       visibility: visible;
//     }
//     li{
//       text-align: center;
//       display: block !important;
//     }
//   }
// }
// @media (max-width:414px) {
//   .lw-img{
//     width: 9%;
//   }
// }