.op-nav-left {
  z-index: 3;
  width: $col-left-size;
  height: 100%;
  top: 0;
  left: 0;
  padding: 60px 0 0;
  position: fixed;
  background-color: $color-background;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  border-right: 1px solid $color-border-dropdown \9;

  &.open {
    left: 0;
  }

  &.close {
    left: -$col-left-size;
  }
}

.nav-left-inner {
  padding: 0 15px;
}

.fe-nav-list {
  > li {
    > a {
      display: block;
      position: relative;
      color: $color-normal;

      &:hover {
        color: $theme-hover;

        .icon-arrow-right {
          color: $theme-hover;
        }
      }

      &.active {
        color: $theme-hover;
        border-left-color: $theme-hover;
        background-color: $color-background;
        font-weight: bold;

        .icon-arrow-right {
          color: $link-active;
        }
      }

      .icon-arrow-right {
        position: absolute;
        right: 15px;
        top: 50%;
        font-size: 10px;
        margin: -4px 0 0;
        color: $color-info-light;
      }
    }

    .icon-nav {
      @include border-radius(50%);
      width: 20px;
      height: 20px;
      font-size: 20px;
      display: inline-block;
      vertical-align: top;
      margin: -1px 10px 0 0;
    }
  }
}

.fe-nav-list {
  margin: 20px 0;

  > li {
    > a {
      padding: 10px 15px;
      line-height: 20px;
    }
  }
}
