.nav-product{
	height: 40px;
	margin-top: 20px;
	.np-menu{
		border-bottom: 2px solid red; 
	}
	li{
		cursor: pointer;
		font-size: 16px;
		padding: 5px 20px;
		margin-bottom: -2px;
		display: inline-block;
		border-bottom: 2px solid transparent; 
		&:hover, &.active{
			border-bottom: 2px solid orange; 
		}
	}	
}