.nav-product {
    color: #ffffff;
    padding: 20px 0;
    background: #294381;
    margin: -40px auto 40px;
    .np-wrap {
        width: 1004px;
        margin: auto;
        .title {
            font-weight: bold;
            font-size: $font-pagetitle;
        }
    }
    .np-menu {
        margin: 15px 20px 0 20px;
    }
    li {
        cursor: pointer;
        font-size: 16px;
        padding: 5px 25px;
        margin-bottom: -2px;
        display: inline-block;
        border-right: 1px solid #fff;
        &:first-child {
            border-left: 1px solid #fff;
        }
        &:hover,
        &.actived {
            color: #80d417;
        }
    }
}

.list-product {
    width: 100%;
    padding: 5px 0px;
    overflow: hidden;
    .lp-item {
        float: left;
        margin: 0 10px;
        position: relative;
        text-align: center;
        width: calc(25% - 20px);
        background-color: #f4f5f8;
        border: 2px solid #2ba139;
        .lp-img {
            padding: 5px;
            line-height: 0;
	        height: 165px;
	        width: 100%;
        	.box-cell{
        		line-height: 0;
        		background-color: #c9c9c9;
        		img{
        			height: 165px;
        		}
        	}
        }
        .lp-img-list {
            width: 100%;
            padding: 5px;
            .lp-img {
                padding: 0;
                float: left;
                height: 30px;
                margin: 0 1px;
                width: calc(25% - 2px);
	        	.box-cell{
	        		img{
	        			max-height: 30px;
	        		}
	        	}
            }
        }
	    .lp-info{
	    	.li-left{
	    		width: 70%;
	    		float: left;
	    		text-align: left;
                padding-left: 5px;
	    		.ll-info{
	    			border-bottom: 1px solid black;
					.lin-title{
						float: left;
						width: 45px;
						font-weight: bold;
						margin-right: 10px;
					}
					.lin-name{
						float: left;
                        height: 45px;
					    word-break: break-all;
        				@include numofLine(2);
						width: calc(100% - 55px);
					}
					&:last-child{
						border-bottom: none;
					}
					&.sub{
                        padding-top: 5px;
						.lin-title{
							font-size: $font-size-xs;
						}
                        .lin-name{
                            height: auto;
                        }
					}
	    		}
	    	}
	    	.li-right{
	    		width: 30%;
	    		float: right;
                text-align: right;
	    		padding-right: 5px;
	    		img{
	    			width: 45%;
	    		}
	    	}
	    }
    }
}


@media (max-width:1024px) {
    .nav-product {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        .np-menu {
            width: max-content;
            li {
                &.actived {
                    color: #203B29;
                    background: #c8d6cd;
                }
            }
        }
    }
}