.nav-product {
    color: #ffffff;
    padding: 15px 0;
    background: #294381;
    margin: -40px auto 40px;
    -webkit-box-shadow: 0px 1px 55px 20px rgba(122,122,122,1);
    -moz-box-shadow: 0px 1px 55px 20px rgba(122,122,122,1);
    box-shadow: 0px 1px 55px 20px rgba(122,122,122,1);
    .np-wrap {
        width: 1004px;
        margin: auto;
        .title {
            font-weight: bold;
            font-size: $font-pagetitle;
        }
    }
    li {
        cursor: pointer;
        font-size: 14px;
        padding: 5px 25px;
        margin-bottom: -2px;
        display: inline-block;
        border-right: 1px solid #fff;
        &:first-child {
            border-left: 1px solid #fff;
        }
        &:hover,
        &.actived {
            color: #80d417;
        }
    }
}

.list-product {
    width: 100%;
    padding: 5px 0px;
    overflow: hidden;
    .lp-item {
        float: left;
        margin: 0 10px;
        position: relative;
        text-align: center;
        width: calc(25% - 20px);
        background-color: #f4f5f8;
        border: 1px solid #2ba139;
        .lp-img {
            padding: 5px;
            line-height: 0;
	        height: 165px;
	        width: 100%;
        	.box-cell{
        		line-height: 0;
        		background-color: #c9c9c9;
        		img{
        			height: 165px;
        		}
        	}
        }
        .lp-img-list {
            width: 100%;
            padding: 5px;
            .lp-img {
                padding: 0;
                float: left;
                height: 30px;
                margin: 0 1px;
                width: calc(25% - 2px);
	        	.box-cell{
	        		img{
	        			max-height: 30px;
	        		}
	        	}
            }
        }
	    .lp-info{
            .li-info{
                margin: 5px;
                padding: 0 0 5px 0;
                border-bottom: 1px solid black;
            }
            .li-sub-info{
                margin: 5px 5px 0;
                padding: 5px 0 5px 0;
                .lsi-wrap{
                    float: left;
                    text-align: right;
                    &:nth-child(1){
                        width: 60%;
                    }
                    &:nth-child(2){
                        width: 40%;
                    }
                    img{
                        width: 25%;
                    }
                }
            }
            .lin-title,.lin-name{
                float: left;
                text-align: left;
            }
            .lin-title{
                width: 60px;
                font-weight: bold;
                &.sub{
                    font-size: $font-size-xs;
                }
            }
            .lin-name{
                @include numofLine(1);
                word-break: break-word;
                width: calc(100% - 60px);
                &.sub{
                    width: calc(100% - 65px);
                    font-size: $font-size-xs;
                }
            }
            // old version
	    // 	.li-left{
	    // 		width: 70%;
	    // 		float: left;
	    // 		text-align: left;
     //            padding-left: 5px;
	    // 		.ll-info{
	    // 			border-bottom: 1px solid black;
					// .lin-title{
					// 	float: left;
					// 	width: 45px;
					// 	font-weight: bold;
					// 	margin-right: 10px;
					// }
					// .lin-name{
					// 	float: left;
     //                    height: 45px;
					//     word-break: break-all;
     //    				@include numofLine(2);
					// 	width: calc(100% - 55px);
					// }
					// &:last-child{
					// 	border-bottom: none;
					// }
					// &.sub{
     //                    padding-top: 5px;
					// 	.lin-title{
					// 		font-size: $font-size-xs;
					// 	}
     //                    .lin-name{
     //                        height: auto;
     //                    }
					// }
	    // 		}
	    // 	}
	    // 	.li-right{
	    // 		width: 30%;
	    // 		float: right;
     //            text-align: right;
	    // 		padding-right: 5px;
	    // 		img{
	    // 			width: 45%;
	    // 		}
	    // 	}
	    }
    }
}


@media (max-width:1024px) {
    .nav-product {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        .np-menu {
            width: max-content;
            li {
                &.actived {
                    color: #203B29;
                    background: #c8d6cd;
                }
            }
        }
    }
}