.owl-carousel{
  margin-bottom: -20px;
  .item{
    position: relative;
    .slide-header{
      top: 0;
      padding: 5px;
      position: absolute;
      background: rgba(66,122,85,.5);
      .title{
        width: 80%;
        float: left;
        height: 45px;
        color: #000000;
        padding: 0 5px;
        font-size: 16px;
        line-height: 22px;
        word-wrap: break-word;
        @include numofLine(2);
      }
      .type{
        width: 20%;
        float: right;
        margin-top: 2px;
        text-align: right;
        img{
          float: right;
          width: 50%;
          padding: 2px;
        }
      }
    }
    img{
      max-height: 600px;
    }
    .slide-footer{
      bottom: 0;
      width: 100%;
      padding: 5px;
      position: absolute;
      background: rgba(66,122,85,.5);
      .pic{
        width: 70%;
      }
    }
  }
  .owl-dots{
    top: -45px;
    position: relative;
  }
}

.owl-two{
  .item{
    margin:0 2.5px;
  }
}