.owl-carousel{
  .item{
    position: relative;
    .slide-header{
      top: 0;
      padding: 5px;
      position: absolute;
      background: rgba(66,122,85,.5);
      .title{
        width: 75%;
        float: left;
        color: #000000;
        padding: 0 5px;
        font-size: 16px;
        word-wrap: break-word
      }
      .type{
        width: 25%;
        float: right;
        text-align: right;
        img{
          float: left;
          width: 50%;
          padding: 2px;
        }
      }
    }
    .slide-footer{
      bottom: 0;
      width: 100%;
      height: 50px;
      padding: 5px;
      position: absolute;
      background: rgba(66,122,85,.5);
      .logo{
        width: 100%;
        .pic{
          width: 40px;
        }
      }
    }
  }
}