* {
  box-sizing: border-box;
}

html{
  -webkit-text-size-adjust: 100%;
}

body,
html {
  font-family: $font-family;
  font-size: $font-normal;
  color: $color-normal;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-y: auto \9;
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
  border: none;
  -webkit-box-shadow: 12px 12px 15px -12px rgba(0,0,0,0.71);
  -moz-box-shadow: 12px 12px 15px -12px rgba(0,0,0,0.71);
  box-shadow: 12px 12px 15px -12px rgba(0,0,0,0.71);
}

.main-container{
  margin: auto;
  width: 1012px;
  &.full{
    margin: 0;
    width: 100%;
  }
  &.header,&.footer{
    background: #f5f5f5;
  }
  &.content{
    background: #c9c9c9;
  }
}

.content {
  min-height: 100%;
  // margin: 0 0 -50px;
  margin: 0;
}

/* column style */
.box-overflow {
  overflow: hidden;
}

.box-row {
  @include clearfix;
  width: 101.95%;
  margin-left: -1.95%;
  margin-right: -1.95%;

   > [class^="column-"],
  > [class*=" column-"] {
    margin-left: 1.95%;
  }
}

.column-12 {
  width: 98.002%;
}

.column-11 {
  float: left;
  width: 89.668%;
}

.column-10 {
  float: left;
  width: 81.343%;
}

.column-9 {
  float: left;
  width: 73.013%;
}

.column-8 {
  float: left;
  width: 64.685%;
}

.column-7 {
  float: left;
  width: 56.304%;
}

.column-6 {
  float: left;
  width: 48.02%;
}

.column-5 {
  float: left;
  width: 39.75%;
}

.column-4 {
  float: left;
  width: 31.368%;
}

.column-3 {
  float: left;
  width: 23.0392%;
}

.column-2 {
  float: left;
  width: 14.71%;
}

.column-1 {
  float: left;
  width: 6.382%;
}

.pad-20 {
  padding: 20px 0;
}

.c-img{
  position: relative;
  margin-bottom: 16px;
  &:last-child{
    margin-bottom: 0;
  }
  .bg-op{
    width: 100%;
    height: 100%;
    position: absolute;
    &:hover{
      background: rgba(102,98,102,1);
      background: -moz-linear-gradient(top, rgba(102,98,102,1) 0%, rgba(255,255,255,0.37) 63%, rgba(255,255,255,0) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,98,102,1)), color-stop(63%, rgba(255,255,255,0.37)), color-stop(100%, rgba(255,255,255,0)));
      background: -webkit-linear-gradient(top, rgba(102,98,102,1) 0%, rgba(255,255,255,0.37) 63%, rgba(255,255,255,0) 100%);
      background: -o-linear-gradient(top, rgba(102,98,102,1) 0%, rgba(255,255,255,0.37) 63%, rgba(255,255,255,0) 100%);
      background: -ms-linear-gradient(top, rgba(102,98,102,1) 0%, rgba(255,255,255,0.37) 63%, rgba(255,255,255,0) 100%);
      background: linear-gradient(to bottom, rgba(102,98,102,1) 0%, rgba(255,255,255,0.37) 63%, rgba(255,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666266', endColorstr='#ffffff', GradientType=0 );
    }
  }
}

.qat-content {
  font-size: 16px;
  margin-top: 38px;
  padding-right: 20px;
  word-break: break-word;
}

.box-title{
  font-size: 20px;
  margin-bottom: 20px;
  span{
    border-bottom: 2px solid red;
  }
}
.box-content{
  font-size: 16px;
  word-break: break-word;
}

.box-table{
  display: table;
  .box-cell{
    display: table-cell;
    vertical-align: middle;
  }
}

/*responsive*/
// @media (max-width:1160px) {
//   .fe-page-container {
//     .op-content-wrap {
//       margin-left: 0;
//     }
//   }
// }
// @media (max-width:736px) {
//   .show-sm {
//     display: block !important;
//   }

//   .hide-sm {
//     display: none !important;
//   }
//   .frontend-items-list{
//     padding:0 10px;
//   }
// }
// @media (max-width: 414px) {
//   .fe-page-container {
//     margin: 60px 0 0;

//     .op-content-wrap {
//       padding: 10px 0;
//     }
//   }

//   .box-alert-wrap {
//     margin: -10px -10px 0;
//   }
// }
