<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>ls project</title>

<!-- css -->
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/font/fa-solid.min.css">
<link rel="stylesheet" href="assets/font/fa-brands.min.css">
<link rel="stylesheet" href="assets/font/fa-regular.min.css">
<link rel="stylesheet" href="assets/font/fontawesome.min.css">


<link rel="stylesheet" href="assets/js/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="assets/js/owlcarousel/assets/owl.theme.default.min.css">

<!-- Icon -->
<link href="assets/images/logo/favicon.png" rel="shortcut icon">
<meta name="keywords" content="">